<!-- 树 -->
<aside class="aside-md bg-white b-r" id="subNav">
    <section class="vbox">
        <header class="b-b header"><p class="h4">设备信息</p></header>
        <section class="scrollable w-f scrollable-ztree">
            <p class="text-dark padder m-t-xs m-b-none th-sortable" id="category_all">全部</p>
            <ul id="treeDemo" class="nav ztree"></ul>
            <input type="hidden" id="category_id" value="0"/>
            <input type="hidden" name="moreStnId" id="moreStnId" value="0"/>
        </section>
    </section>
</aside>
