<aside class="bg-dark lter aside-md hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                 data-size="5px" data-color="#333333">

                <!-- nav -->
                <div class="tab-content">
                    <div id="nav_content" class="tab-pane fade active in nav-content">
                        <nav class="nav-primary hidden-xs">
                            <ul class="nav" id="left_nav">
                                <li>
                                    <a href="#" class="nav-two">
                                        <i class="fa icon fa-users">
                                            <b class="bg-danger"></b>
                                        </i>
                                                    <span class="pull-right">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                    </span>
                                        <span>业务管理</span>
                                    </a>
                                    <ul class="nav lt nav-three">
                                        <li>
                                            <a href="/blackadmin" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>黑名单</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/warnadmin/black" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>黑名单告警</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>基本数据检索</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin/map" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>目标轨迹电子地图</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin/resident" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>常住人口分析</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin/statistics" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>数据分析</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin/habit" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>目标活动习惯分析</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/businessadmin/partner" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>目标伴随分析</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;" class="nav-two">
                                        <i class="fa icon fa-comment">
                                            <b class="bg-warning"></b>
                                        </i>
		                                <span class="pull-right">
		                                    <i class="fa fa-angle-down text"></i>
		                                    <i class="fa fa-angle-up text-active"></i>
		                                </span>
                                        <span>设备管理</span>
                                    </a>
                                    <ul class="nav lt nav-three">
                                        <li>
                                            <a href="/stationadmin/map" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>设备地图</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/stationadmin/update" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>设备升级</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/imeiadmin" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>上号显示</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/stationadmin/info" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>设备信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/stationadmin/set" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>设备参数</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/stationadmin/act" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>设备操作</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/stationadmin/timesyn" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>同步时间</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;" class="nav-two">
                                        <i class="fa icon fa-file-text">
                                            <b class="bg-success"></b>
                                        </i>
		                                <span class="pull-right">
		                                    <i class="fa fa-angle-down text"></i>
		                                    <i class="fa fa-angle-up text-active"></i>
		                                </span>
                                        <span>告警管理</span>
                                    </a>
                                    <ul class="nav lt nav-three">
                                        <li>
                                            <a href="/warnadmin" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>告警信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/warnadmin/Dic" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>告警字典</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/warnadmin/history" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>历史告警</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;" class="nav-two">
                                        <i class="fa icon fa-bullhorn">
                                            <b class="bg-info"></b>
                                        </i>
		                                <span class="pull-right">
		                                    <i class="fa fa-angle-down text"></i>
		                                    <i class="fa fa-angle-up text-active"></i>
		                                </span>
                                        <span>开局管理</span>
                                    </a>
                                    <ul class="nav lt nav-three">
                                        <li>
                                            <a href="/stationadmin" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>本地配置</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;" class="nav-two">
                                        <i class="fa icon fa-gavel">
                                            <b class="bg-danger"></b>
                                        </i>
		                                <span class="pull-right">
		                                    <i class="fa fa-angle-down text"></i>
		                                    <i class="fa fa-angle-up text-active"></i>
		                                </span>
                                        <span>短信设置</span>
                                    </a>
                                    <ul class="nav lt nav-three">
                                        <li>
                                            <a href="/smsadmin/template" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>模板信息</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/smsadmin/object" class="load-content">
                                                <i class="fa fa-angle-right"></i>
                                                <span>发送对象</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- / nav -->
            </div>
        </section>

        <footer class="footer lt hidden-xs b-t b-dark">
            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
        </footer>
    </section>
</aside>