<div id="dianji"
     style="background-color:White;border:1px solid #cccccc;  position: absolute; z-index: 10; display: none">
    <ul style=" padding: 0px 10px;">
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_edit" href="#">编辑修改设备</a></li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_delete" href="#">删除设备</a></li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_set" href="#">参数设置查询</a>
        </li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_act" href="#">设备操作</a>
        </li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_info" href="#">设备信息</a></li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="device_timesyn" href="#">同步时间</a></li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="warn_index" href="#">实时告警</a>
        </li>
        <li style="list-style-type: none; height: 20px; line-height: 20px;">
            <a id="business_index"></a>
        </li>
    </ul>
</div>