<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.BlacklistMapper">

    <resultMap id="Blacklist" type="com.bean.BlacklistModel">
        <id property="id" column="id"/>
        <result property="imsi" column="imsi"/>
        <result property="imei" column="imei"/>
        <result property="ctime" column="ctime"/>
        <result property="mtime" column="mtime"/>
        <result property="name" column="name"/>
        <result property="esn" column="esn"/>
        <result property="smsid" column="smsid"/>
    </resultMap>

    <select id="getBlacklist" resultMap="Blacklist">
        SELECT *
        FROM blacklist_info
    </select>
</mapper>