<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.BlacklistMapper">

    <resultMap id="blacklists" type="com.bean.Blacklist">
        <id property="id" column="id"/>
        <result property="imsi" column="imsi"/>
        <result property="name" column="name"/>
        <collection property="monitors" ofType="com.bean.Monitor">
            <id property="id" column="monitor_id"></id>
            <result property="name" column="monitor_name"></result>
        </collection>
    </resultMap>

    <select id="getBlacklist" resultMap="blacklists">
        SELECT blacklist.id as id,
                blacklist.name as name,
                blacklist.imsi as imsi,
                  monitor.id as monitor_id,
                  monitor.name as monitor_name
        FROM blacklist
        INNER JOIN blacklist_monitor
         ON blacklist.id = blacklist_monitor.blacklist_id
        INNER JOIN monitor
         ON blacklist_monitor.monitor_id = monitor.id
    </select>

    <insert id="addBlackList" parameterType="com.bean.Blacklist">
        insert into blacklist(
          name,
          imsi
        )
        VALUES (
          #{name},
          #{imsi}
        )
    </insert>
</mapper>